@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #0a2a43;
  min-height: 100%;
  margin: 0;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:before
{
content: '';
position: absolute;
bottom: 0px;
width: 100%;
height:100px;
background: linear-gradient(to top, #0a2a43, transparent);
z-index: 10000;
}
section:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 10000;
  background: #0a2a43;
  mix-blend-mode: color;
}
section img
{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
#text
{
  position:absolute;
  color: #fff;
  font-size: 10em;
  z-index: 5;
  margin-left: -24%;
  margin-top: 4.8%;
  color: green;
}
.piece{
  margin-top: 1%;
  width: 8%;
  height: 12%;
}
.left{
  margin-left: 21.5%;
}
.right{
margin-left: 70.75%;
}
#bg{
  height: 1080px;
  width: 56.25%;
  margin-top: 0px;
  margin-left: 22%;
}



#whitetower{
margin-top: 43%
}
#whiteleep{
  margin-top: 22%;
}



#blacktower{
margin-left: 56.5%;
margin-top: 29%;
}


#blackhorse{
  margin-top: 7%;
}
#blackking{
  margin-top: 15%;
}

#board{
  margin-left: 400px;
}


#wrapper{
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
  width: 100%;
  background-color: yellow;
}


#container{
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(auto,auto);
}

#parabild{
  width: 100%;
  height: 100%;
}

#info{
  background-color: blue;
  width: 100%;
  height: 100%;
  z-index: 20;
}

#introductioin{
  background-color: red;
  width: 100%;
  height: 100%;
}

#bard{
  background-color: grey;
  width: 100%;
  height: 100%;

}

#pjäser{
  background-color: orange;
  width: 100%;
  height: 100%;

}

#strats{
  background-color: purple;
  width: 100%;
  height: 100%;
}
#blackbox{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-left: -100%;
}

#bama{
  margin-left: auto;
  margin-right: auto;
  height: 45%;
  width: auto;
}
#introbild{
  margin-left: auto;
  margin-right: auto;
  height: 55%;
  width: auto;
}
